*{

	background-color: rgb(32, 33, 36);
	font-family: 'Roboto', sans-serif;
	color: white;
}

.grid{
	  display: grid; /* Erstellen vom Grid*/
	  grid-template-rows: auto;
	  grid-template-columns: auto;
  }
  
  
  /* bedinungen für das Bearbeiten*/
li {
	float: right;
	grid-area: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-weight: bold;
  }
  
li a:hover {
      color: #8ab4f8;
  }

  .Schlagzeilen{
	  grid-area: auto;
	  text-align: center;
  }
/*CSS Code für den Inhalt bei index.php*/
  .Inhalt{
	  grid-area: auto;
	  text-align: center;   
  }

  /*CSS für Formular create.php und edit.php*/
  form{
		grid-area: auto;
  }

  .form-create{
		grid-area: auto;
  }

  /*CSS für Titel create.php und edit.php*/
  .user-titel{
    text-align: center;
		grid-area: auto;
		padding: 1%;
  }

  /*CSS für Autor create.php und edit.php*/
  .user-author{
    text-align: center;
    grid-area: auto;
    padding: 1%;
  }

  /*CSS für Bild create.php und edit.php*/
  .user-bild{
    text-align: center;
		grid-area: auto;
		padding: 1%;
  }

  /*CSS für textarea create.php und edit.php*/
  .user-textarea{
    text-align: center;
    grid-area: auto;
    padding: 2%;
  }

  /*CSS für submit create.php und edit.php*/
  .submit{
    text-align: center;
    grid-area: auto;
  }



  

